// Variables

$light-color: #f4f4f4;
$dark-color: #333;
$medium-color: #ccc;
$light-blue: #00c3ff;
$dark-blue: #0066ffa4;
$website-width: 1600px;



// General Styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'ABeeZee', sans-serif;
}



body {
    background-image: url(/dist/img/wood-background.jpg);
    color: #000;
}



a {
    text-decoration: none;
    color: $dark-color;
}



ul {
    list-style: none;
}



h1,
h2,
h3 {
    font-family: 'Amatic SC', cursive;
    color: $dark-blue;
}



h1 {
    font-size: 5rem;
}



h2 {
    font-size: 4rem;
}



h3 {
    font-size: 3rem;
}



p {
    font-size: 1.25rem;
}



// Utility Classes

.container {
    max-width: $website-width;
    margin: auto;
    overflow: hidden;
    padding: 2rem 5rem;
}



// Paper Background

#paper-background {
    background-image: url(/dist/img/paper.jpg);
    box-shadow: 0 0 50px 0 $dark-color;
    margin-top: 1rem;
    min-height: 100svh;
}



// Header

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    // to do - sticky nav?

    ul {
        display: flex;

        li:nth-child(2) {
            padding: 0 5rem;
        }

        a {
            font-family: 'Amatic SC', cursive;
            color: $dark-blue;
            font-weight: bold;
            font-size: 2.5rem;
            border-bottom: 2px transparent solid;


            &:hover {
                border-color: $dark-blue;
                transition: all 0.3s;
            }
        }
    }
}



// Our Story

#our-story {
    text-align: center;
    min-height: 100svh;

    img {
        max-width: 900px;
        margin: 5rem 0;
    }

    p {
        margin-bottom: 5rem;
    }
}



// Our Games

#our-games {
    text-align: center;
    min-height: 100svh;

    #games-grid {
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(3, 1fr);

        .game {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            border-radius: 10px;
            height: 25rem;
            font-family: 'Amatic SC', cursive;
            font-weight: bolder;
            font-size: 3rem;
            color: #fff;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
            transition: 0.3s;
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        }

        .game:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
        }

        #infantry-attack {
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('/dist/img/infantry-attack.png');
        }
    }
}

// to do - figure out how to resize everything to 100svh