// Variables

$light-color: #f4f4f4;
$dark-color: #333;
$medium-color: #ccc;
$main-color: #00c3ff;
$website-width: 1600px;



// General Styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'ABeeZee', sans-serif;
}



body {
    background-color: $light-color;
    color: $dark-color;
}



a {
    text-decoration: none;
    color: $light-color;
}



ul {
    list-style: none;
}



h1 {
    font-size: 5rem;
    font-family: 'Amatic SC', cursive;
}



h2 {
    font-size: 2.5rem;
    font-family: 'Amatic SC', cursive;
}



h3 {
    font-size: 1.75rem;
    font-family: 'Amatic SC', cursive;
}



// Utility Classes

.container {
    max-width: $website-width;
    margin: auto;
    overflow: hidden;
}



%btn-shared {
    display: inline-block;
    margin: 1.5rem;
    padding: 1rem 1.5rem;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
    letter-spacing: normal;
    border-radius: 5%
}



.btn {
    &-main {
        @extend %btn-shared;
        color: $light-color;
        background-color: $main-color
    }

    &-light {
        @extend %btn-shared;
        color: $dark-color;
        background-color: $light-color;
    }

    &-dark {
        @extend %btn-shared;
        color: $light-color;
        background-color: $dark-color;
    }
}



button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
    filter: brightness(0.9);
}



// Header

#header {

    &-home {
        background-color: $main-color;
        color: $light-color;

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #logo {
            width: 80px;
            height: 100%;
            background-color: $main-color;
            padding: 5px;
        }

        ul {
            display: flex;
        }
    }
}